.app {
  position: relative;
  background: linear-gradient(180deg, #ffffff 0%, #e6edfa 100%);
  overflow-x: hidden;
}

.first-elipse {
  position: absolute;
  width: 571px;
  height: 362px;
  left: -290px;
  top: 200px;

  background: linear-gradient(
    264.93deg,
    #072e44 9.13%,
    #018fde 106.76%
  );
  opacity: 0.14;
  filter: blur(50px);
  border-radius: 50%;
  transform: rotate(-150deg);
}

.second-elipse {
  position: absolute;
  width: 472px;
  height: 558px;
  right: -200px;
  top: 100px;

  background: linear-gradient(
    267.33deg,
    #018fde 19.54%,
    #072e44 123.71%
  );
  opacity: 0.14;
  filter: blur(50px);
  transform: rotate(-52deg);
  border-radius: 50%;
}

@media (max-width: 768px) {
  .first-elipse {
    top: 350px;
    left: 300px;
  }

  .second-elipse {
    top: -150px;
    left: -200px;
  }
}

@media (max-width: 576px) {
  .first-elipse {
    width: 260.2px;
    height: 189.8px;
    top: 200px;
    left: 200px;
  }

  .second-elipse {
    width: 240px;
    height: 263.78px;
    top: -70px;
    left: -100px;
  }
}
